{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Администрирование сайта') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Администрирование сайта') }}</a>
</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Главная</a> &rsaquo; API Документация
</div>
{% endblock %}

{% block content %}
    <div class="api-documentation-wrapper">
        {{ documentation|safe }}
    </div>
{% endblock %} 